.fontClass	{
	text-align:left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	}
	
.noteItalic	{
	text-align:left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: italic
	}

.fontClassWithRightMargin	{
	text-align:left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	  border-collapse: separate; 
	border-spacing: 5px; 
	*border-collapse: expression('separate', cellSpacing = '5px');
	}


.signOff{
	text-align:right;
	align:right;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;

}
	
.underConstruction{
	text-align:left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	}
	
.bitBold{
	text-align:left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	}
	
.nav-tabs > li.active > a {
	  
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-color:cadetblue;
	}
.nav-tabs > li > a {
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	
	}
	

	
.headerStyle	{
	text-align:left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 0;
	}
	
.general{
	text-align:left;
	display:block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-left: 20px;
	font-weight: normal;
	}
	
.generalSmall{
	text-align:left;
	display:block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	width:120px;
	}
	
	
.check{
	text-align:left;
	display:block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-left: 80px;
	font-weight: normal;
	}
	
	
.form-control{
	text-align:left;
	display:block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin-left: 20px;
	margin-right: 20px;
	font-weight: normal;
	size:40;
	}
	
.nav-tabs > li.rounded > a:active,
.nav-tabs > li.rounded > a:hover,
.nav-tabs > li.rounded > a:focus  {
    background-color:cadetblue;
    font-weight:bolder;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}	


    	.behclick-panel  .list-group {
    		margin-bottom: 0px;
		}
		.behclick-panel .list-group-item:first-child {
			border-top-left-radius:0px;
			border-top-right-radius:0px;
		}
		.behclick-panel .list-group-item {
			border-right:0px;
			border-left:0px;
		}
		.behclick-panel .list-group-item:last-child{
			border-bottom-right-radius:0px;
			border-bottom-left-radius:0px;
		}
		.behclick-panel .list-group-item {
			padding: 5px;
		}
		.behclick-panel .panel-heading {
			/* 				padding: 10px 15px;
                            border-bottom: 1px solid transparent; */
			border-top-right-radius: 0px;
			border-top-left-radius: 0px;
			border-bottom: 1px solid darkslategrey;
		}
		.behclick-panel .panel-heading:last-child{
			/* border-bottom: 0px; */
		}
		.behclick-panel {
			border-radius: 0px;
			border-right: 0px;
			border-left: 0px;
			border-bottom: 0px;
			box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
		}
		.behclick-panel .radio, .checkbox {
			margin: 0px;
			padding-left: 10px;
		}
		.behclick-panel .panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a {
			outline: none;
		}
		.behclick-panel .panel-body > .panel-heading{
			padding:10px 10px;
		}
		.behclick-panel .panel-body {
			padding: 0px;
		}
		 /* unvisited link */
		.behclick-panel a:link {
		    text-decoration:none;
		}

		/* visited link */
		.behclick-panel a:visited {
		    text-decoration:none;
		}

		/* mouse over link */
		.behclick-panel a:hover {
		    text-decoration:none;
		}

		/* selected link */
		.behclick-panel a:active {
		    text-decoration:none;
		}